<h2>{{title}}</h2>
<p>Consulta de Usuarios</p>

<form role="form" action="get/users/" method="get">
    <input type="submit" value="Ver todos los usuarios">
</form>
<br>
<br>
<div class="separador"></div>
<br>
<br>

<form  method="post" action="get/users/submit/" >
    Consulta un usuario por su id
    <br><br>
    <input type="number" name="id">
    <br><br>
   <button >Consultar</button>
</form>

<br>
<br>
<div class="separador"></div>
<br>
<br>

<form action="post/users/registrar/">
    <input type="submit" value="Registar">
</form>









