body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1{
  text-align: right;
}
.separador{
  height: 2px;
  width: 100%;
  background-color: black;
}